---
parent: central
serviceName: plivo-java
language: java-sdk
build:
  command: |  
      ulimit -a
      cat /proc/sys/kernel/threads-max
      cat /sys/fs/cgroup/pids/pids.current 2>/dev/null || echo "No cgroup limit info"
      cat /sys/fs/cgroup/pids/pids.max 2>/dev/null || echo "No cgroup limit info"
      export GRADLE_OPTS="-Dorg.gradle.daemon=false -Dorg.gradle.console=plain"
      export JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF8 -Xms32m -Xmx128m -XX:MaxMetaspaceSize=128m -XX:+UseSerialGC"
      ./gradlew --no-daemon --console=plain --info --stacktrace createPom < /dev/null
      ./build.sh
      ./gradlew fatJar
      chmod 755 secring.gpg
secrets:
  files:
    SONATYPE_SECRET_RING_FILE: "secring.gpg"
postDeployJobs:
  prod:
    - name: plivo/messaging-qa/javaSDKSmoke
      disabled: false
