---
parent: central
serviceName: plivo-java
language: java-sdk
build:
  command: |
      export JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF8 -Xmx512m -XX:+UseSerialGC -Xss256k"
      ./gradlew createPom --no-daemon --max-workers=1
      ./build.sh
      ./gradlew fatJar --no-daemon --max-workers=1
      chmod 755 secring.gpg
secrets:
  files:
    SONATYPE_SECRET_RING_FILE: "secring.gpg"
postDeployJobs:
  prod:
    - name: plivo/messaging-qa/javaSDKSmoke
      disabled: false
