---
parent: central
serviceName: plivo-java
language: java-sdk
build:
  command: |  
      ulimit -a
      export GRADLE_OPTS="-Dorg.gradle.daemon=false -Dorg.gradle.console=plain"
      export JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF8 -Xms64m -Xmx512m -XX:MaxMetaspaceSize=256m -XX:ParallelGCThreads=1 -XX:ConcGCThreads=1"
      ./gradlew --no-daemon --console=plain --info --stacktrace createPom < /dev/null
      ./build.sh
      ./gradlew fatJar
      chmod 755 secring.gpg
secrets:
  files:
    SONATYPE_SECRET_RING_FILE: "secring.gpg"
postDeployJobs:
  prod:
    - name: plivo/messaging-qa/javaSDKSmoke
      disabled: false
